<!DOCTYPE html>
<html>
<head>
  <title>Commentator</title>
  <%= stylesheet_link_tag    "commentator/application", media: "all" %>
  <%= javascript_include_tag "commentator/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
