<div class="post-block post-comments clearfix">
  <% unless local_assigns[:title] === false %>
    <h3><i class="icon-comments"></i>Comments (<%= comments.count %>)</h3>
  <% end %>

  <ul class="comments comments-top-level" id="comments-<%= slugify(commentable.to_s) %>">
  <%- comments.each do |comment| %>
    <%= render 'commentator/comments/comment', {comment: comment}.merge(local_assigns) %>
  <% end %>
  </ul>
</div>
<% unless local_assigns[:read_only] || local_assigns[:replies_only] %>
  <%= render 'commentator/comments/form', local_assigns %>
<% end %>
